.Mobile{
  display: none;
}

.Body1{
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Body1 h1{
  font-size: 4.5em;
  color: #000;
  text-align: center;
  margin-top: -100px;
  position: absolute;
  left: 36%;
}

.Body1 hr{
  width: 80%;
  height: 1px;
  border-width: 1px;
  color: #000;
  background-color: #000;
  margin-top: 80px;
}

.Border1{
  background-color: #ff7394;
  width: 100%;
  height: 30px;
}

.Pamphlet .container{
  text-align: center;
  padding-top: 80px;
}

.Pamphlet .container .Img{
  width: 800px;
  height: 1200px;
  margin-bottom: 60px;
}




/*                                 FOR MOBILE                                 */


@media screen and (max-width: 450px){
  .Large{
    display: none;
  }

  .Mobile{
    display: block;
  }

  .Body1{
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Body1 h1{
    font-size: 3.0em;
    color: #000;
    text-align: center;
    margin-top: 0px;
    position: absolute;
    left: 10%;
  }

  .Body1 hr{
    width: 0%;
    height: 1px;
    border-width: 1px;
    color: #000;
    background-color: #000;
    margin-top: 80px;
  }

  .Border1{
    background-color: #ff7394;
    width: 100%;
    height: 30px;
  }

  .Pamphlet .container{
    text-align: center;
    padding-top: 80px;
  }

  .Pamphlet .container .Img{
    width: 90%;
    height: 450px;
    margin-bottom: 60px;
  }
}
